/* [project]/apps/dashboard/src/components/create-template-dialog.module.css [app-client] (css) */
/* unparsable [project]/apps/dashboard/src/components/create-template-dialog.module.css [app-client] (css) */
/* [project]/apps/dashboard/src/components/use-template-dialog.module.css [app-client] (css) */
/* unparsable [project]/apps/dashboard/src/components/use-template-dialog.module.css [app-client] (css) */
/* [project]/apps/dashboard/src/app/templates/page.module.css [app-client] (css) */
/* unparsable [project]/apps/dashboard/src/app/templates/page.module.css [app-client] (css) */
