/* [project]/apps/dashboard/src/components/sidebar.module.css [app-client] (css) */
/* unparsable [project]/apps/dashboard/src/components/sidebar.module.css [app-client] (css) */
/* [project]/apps/dashboard/src/app/globals.css [app-client] (css) */
/* unparsable [project]/apps/dashboard/src/app/globals.css [app-client] (css) */
