/* [project]/apps/dashboard/src/components/create-template-dialog.module.css [app-client] (css) */
/* unparsable [project]/apps/dashboard/src/components/create-template-dialog.module.css [app-client] (css) */